svg{
	font:10px sans-serif;
}
circle{
	-webkit-transition:fill-opacity 250ms linear;
}
.selecting circle{
	fill-opacity:.2;
}
.selecting circle.selected{
	stroke:#f00;
}
.axis path,.axis line{
	fill:none;
	stroke:#000;
	shape-rendering:crispEdges;
}
.brush .extent{
	stroke:#fff;
	fill-opacity:.125;
	shape-rendering:crispEdges;
}
